<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Frankenstein.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Frankenstein.Properties.Settings>
      <setting name="KeyPress" serializeAs="String">
        <value>F15</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>59</value>
      </setting>
      <setting name="ShowTipAtStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MoveMouse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendKeyPress" serializeAs="String">
        <value>True</value>
      </setting>
    </Frankenstein.Properties.Settings>
  </userSettings>
 <log4net>
    <appender name="TestAppender"
    type="log4net.Appender.RollingFileAppender" >
      <file value="frankenstein.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method - %message%n" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <!-- If the following line is not included the log file 
      will not be created even if log4net is configured with this file. -->
      <appender-ref ref="TestAppender" />
    </root>
  </log4net>

</configuration>