<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Frankenstein.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Frankenstein.Properties.Settings>
            <setting name="KeyPress" serializeAs="String">
                <value>F15</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>59</value>
            </setting>
            <setting name="ShowTipAtStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveMouse" serializeAs="String">
                <value>True</value>
            </setting>
        </Frankenstein.Properties.Settings>
    </userSettings>
</configuration>